:root {
  --first-text-color: #757575;
  --second-text-color: #212121;
  --third-text-color: #fff;
  --accent-color: #2196F3;
  --logo-color: #000;
  --background-color: #2F303A;

}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: .3px;
  color: var(--first-text-color);
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
width: 1200px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px; 
}
/*header*/

.header .container {
  height: 80px;
  align-items: center;
  display: flex;
}
.border {
  border: 1px solid #ECECEC;
}
.header-nav {
  align-items: center;
  display: flex;
}
.header-logo {
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--logo-color);
}
.header-logo:focus {
  color: var(--logo-color);
}
.logo-part {
  color: var(--accent-color);
}
.header-list {  
  margin-left: 93px;
  padding: 0;
  display: flex;
  list-style: none;
  color: var(--second-text-color);
}
.header-list .item + .item {
  margin-left: 50px;
}
.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block; 
  content: '';
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #2196F3;
}
.header-list .current {
  color: var(--accent-color);
}
.header-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 33px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: .2px;
  text-decoration: none;
  color: var(--second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover,
.header-link:focus {
  
  color: var(--accent-color);
}
.header-list-contact {
  display: flex;
  padding: 0;
  margin-left: auto;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: .2px;
  list-style: none;
}
.header-list-contact .item + .item {
  margin-left: 50px;
}
.header-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  text-decoration: none;
  color: var(--first-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact:hover,
.header-contact:focus {
  fill: var(--accent-color);
  color: var(--accent-color);
}
.header-icon {
  fill: currentColor;
  margin-right: 10px;
}

/*Footer*/

.footer {
  padding-bottom: 60px;
  padding-top: 60px;
  height: 252px;
  color: var(--third-text-color);
  background-color: var(--background-color);
}
.footer-logo {
  display: inline-block;
  padding-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--third-text-color);
}

.footer-list {
  padding: 0;
  list-style: none;
}
.footer-list .item + .item {
  padding-top: 9px;
}
.footer-adress {
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
  color: var(--third-text-color);
}

.footer-contact {
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
  color: rgb(255, 255, 255, .6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.footer-social {
  margin-left: 70px;
}
.social-list {
  padding: 0;
  display: flex;
  list-style: none;
}
.social-list .item + .item {
  margin-left: 10px;
}
.social-title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 0;
  width: 44px;
  height: 44px;
  cursor: pointer;
  color: #ececec;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: #2196f3;
}
.social-icon {
  fill: #fff;
  height: 20px;
  width: 20px;
}
.footer-mailing {
  margin-left: auto;
}
.footer-email {
  width: 358px;
  padding: 16px 15px;
  margin-right: 12px;
  outline: 0;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: 0;
}
.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196F3;
}
.footer-btn svg {
  margin-left: 10px;
  fill: currentColor;
}
.footer-form {
  display: flex;
}
.footer-form label {
  display: flex;
}



/*main index.html*/

.hero {
  margin-left: auto;
  margin-right: auto;
  background-color: #C4C4C4;
}
.overlay {
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(to right,
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)),
  url(../images/Img-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-content {
  padding: 200px 0;
  text-align: center;
}
.hero-title {
  max-width: 650px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: .6px;
  text-transform: uppercase;
  color: var(--third-text-color);
  margin: 0 auto;
  margin-bottom: 30px;
}
.hero-button {
  padding: 10px 32px;
  border: 0;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: .6px;
  cursor: pointer;
  color: var(--third-text-color);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188CE8;
}
.section {
  padding: 94px 0;
}
.about {
  padding-bottom: 0;
}
.peculiarities {
  color: transparent;
}
.peculiarities-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border: 0;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}
.perculiarities-icon {
  height: 70px;
  width: 70px;
}
.peculiarities-list {
  padding: 0;
  display: flex;
  list-style: none;
}
.peculiarities-list .item + .item {
  margin-left: 30px;
}
.peculiarities-header {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: .2px;
  text-transform: uppercase;
  color: var(--second-text-color);
}
.peculiarities-text {
  line-height: 1.71;
}
.work-header {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--second-text-color);
}
.section-work-list {
  display: flex;
  padding: 0;
  list-style: none;
}
.work-text {
  position:absolute;
  left: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}
.item>img {
  display: block;
  object-fit: contain;
}
.section-work-list .item {
  position: relative;
}
.section-work-list .item + .item {
  margin-left: 30px;
}
.bg-style {
  background-color: #F5F4FA;
}
.team-header {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--second-text-color);
}
.team-list {
  padding: 0;
  display: flex;
  list-style: none;
}
.team-list>.item {
  width: 270px;
  margin-right: 30px;
  background-color: var(--third-text-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-social-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;


}
.team-social-list .item + .item {
  margin-left: 10px;
}
.team-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 0;
  width: 44px;
  height: 44px;
  cursor: pointer;
  color: #AFB1B8;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover,
.team-link:focus {
  color: white;
  background-color: #2196F3;
}
.team-icon {
  fill: currentColor;
}
.team-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--second-text-color);
}
.team-position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.clients {
  margin-left: auto;
  margin-right: auto;
  
}
.client-header {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--second-text-color);
}
.client-list {
  align-items: center;
  display: flex;
  list-style: none;
}
.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  width: 170px;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px
}
.client-link:hover,
.client-link:focus {
  color: #188CE8;
  border: 1px solid #2196F3;
}
.client-list .item + .item {
  margin-left: 30px;
}
.clients-icon {
  fill: currentColor;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform:translate(-50%, -50%) scale(0.25);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%) scale(1);
  min-height: 581px;
  min-width: 528px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff; 
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal-btn-close {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  margin-top: 8px;
  margin-right: 8px;
  margin-left: auto;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-close:hover,
.modal-btn-close:focus {
  color: #2196F3;
}
.modal-btn-close svg {
  fill: currentColor;
}
.modal-content {
  margin: 40px 40px;
}
.modal-title {
  display: flex;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  justify-content: center;
  color: #212121;
} 
.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1px;
  color: var(--second-text-color);
}
.form-input {
  margin-top: 4px;
  padding-left: 42px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: 0;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .modal-icon {
  color: #2196F3;
}
.form-input:focus-within {
  border: 1px solid #2196F3;
}
.form-field input[type='checkbox'] {
  margin-right: 8px;
  height: 15px;
  width: 16px;
}
.form-textarea {
  padding: 12px 16px;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: 0;
  border-radius: 4px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea:focus-within,
.form-textarea:focus  {
  border: 1px solid #2196F3;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0 );
  overflow: hidden;
}
.form-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.71;
  margin-bottom: 30px;
  margin-top: 20px;
}
.checkbox-icon {
  display: inline-block;
  margin-right: 8px;
  height: 15px;
  width: 16px;
  border: 2px solid #212121;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .checkbox-icon {
  border-color: #2196F3;
  background-image: url(../images/check.svg);
  background-size: contain;
  background-color: #2196F3;
  background-origin: border-box;
}
.contract {
  margin-left: 4px;
  color: #2196f3;
}
.submit-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  font-weight: 700;
  line-height: 1.87;
  font-size: 16px;
  border: 0;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196F3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-btn:hover {
    background-color: #188CE8;
}



/*main portfolio.html*/

.border {
  border: 1px solid #ececec;
}
.portfolio-title {
  color: var(--third-text-color);
}
.container .portfolio-list {
  display: flex;
  justify-content: center;
}

.portfolio-list {
  margin-bottom: 50px;
  padding: 0;
}
.portfolio-list .item {
  list-style: none;
}
.portfolio-list .item + .item {
  margin-left: 8px;
}
.portfolio-button {
  padding: 6px 22px;
  border: 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  border-radius: 4px;
  background-color: #F5F4FA;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-current {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--third-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-button.btn-current {
  color: var(--third-text-color);
  background-color: var(--accent-color);
}
.flex-container {
  padding: 0;
  margin: -15px;
  display: flex;
  flex-wrap: wrap;
}
.portfolio-project {
  margin: 15px;
  width: 370px;
  border: 1px solid #eee;
  list-style: none;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-img {
  position: relative;
  overflow: hidden;
}
.portfolio-img>img {
  width: 100%;
  object-fit: contain;
  object-position: top right;
  display: block;
}
.portfolio-project:hover, 
.portfolio-project:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  opacity: 1;
}
.project-card {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  overflow: hidden;
  
}
.portfolio-project-type {
  font-size: 16px;
  line-height: 1.87;
  color: var(--first-text-color);
}
.portfolio-project-name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: .6px;
  color: var(--second-text-color);
}
.text {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 294px;
  width: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(calc(100%));
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.portfolio-project:hover .text {
  transform: translateY(calc(100% - 294px));
}