.hero {
  &--bg {
    background-color: $hero-bg-color;
  }
  &--position {
    margin-left: auto;
    margin-right: auto;
  }
  &--overlay {
    max-width: 1600px;
    height: 600px;
    background-image: $hero-bg-gradient;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__content {
    padding: 200px 0;
    text-align: center;
  }
  &__title {
    max-width: 650px;
    &--position {
      margin: 0 auto;
      margin-bottom: 30px;
    }
    &--color {
      color: $third-text-color;
    }
    &--text {
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      letter-spacing: .06em;
      text-transform: uppercase;
    }
  }
  &__button {
    padding: 10px 31px;
    &--text {
      font-family: inherit;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.87;
      letter-spacing: .06em;
    }
    &--color {
      color: $third-text-color;
      background-color: $accent-color;
      &:hover,
      &:focus {
        background-color: $btn-hover-color;
        }
    }
  }
}